/* Receipt Component */

#tool-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px;
  gap: 1px 20px;
  margin: 5px 20px;
}

#search-reference {
  height: 30px;
  margin: auto;
}

#input_xlsx {
  margin: auto;
}

/* Tables */

/* ClientData */

.grid-container-client-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  margin: 20px;
}
