.excel_worksheet_container,
.excel_receipt_container {
  height: 200px;
  overflow: auto;
  border: 1px solid black;
  margin: 10px;
}

#total_table {
  border: 1px solid black;
  margin: 10px;
}

/* Navbar */

div.pane-sm {
  min-width: 100px;
  max-width: 150px;
}

span#navbar_sheet_element.nav-group-item {
  padding: 2px 10px 2px 5px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}

/* ------------ */

#tool-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px;
  gap: 1px 20px;
  margin: 5px 20px;
}

#search-reference {
  height: 30px;
  margin: auto;
}

#input_xlsx {
  margin: auto;
}

/* ------------ */

td {
  text-align: center;
  vertical-align: middle;
}

td input {
  width: 100%;
  text-align: center;
}

/* ------------ */

.grid-container-client-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  margin: 20px;
}

/* ------------ */

#input_pdf_container {
  border: 1px solid black;
  margin: 5px;
  display: flex;
  align-items: center;
}

#input_pdf_container input {
  margin: 5px 5px;
  width: 180px;
}

#input_pdf_container p {
  margin: 4px 0px;
}

/* ------------ */

label {
  padding: 2px;
  background-color: #90ee90;
  border-radius: 5px;
}

#latex_container {
  border: 1px solid black;
  margin: 5px;
  display: flex;
  align-items: center;
}
#latex_container label {
  margin: 4px;
}

#latex_container button {
  margin: 0 10%;
}
