#excel_worksheet_container,
#excel_receipt_container {
  height: 200px;
  overflow: auto;
  border: 1px solid black;
  margin: 10px;
}

#total_table {
  border: 1px solid black;
  margin: 10px;
}

/* Navbar */

div.pane-sm {
  min-width: 100px;
  max-width: 150px;
}

span#navbar_sheet_element.nav-group-item {
  padding: 2px 10px 2px 5px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}

/* ------------ */

#search-bar {
  margin: 15px;
}

#search-reference {
  width: 150px;
}

/* ------------ */

td {
  text-align: center;
  vertical-align: middle;
}

td input {
  width: 100%;
  text-align: center;
}

/* ------------ */

.grid-container-client-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
}

/* ------------ */
